.projectsOuterContainer {
  padding: 20px 8% 20px;
  background-color: var(--hero-body-color);
  backdrop-filter: blur(10px) brightness(1.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectHeading {
  font-size: 4rem;
  color: var(--white-color);
  font-weight: 800;
}
.gradText {
  background: #3f5efb;
  background: radial-gradient(
    circle,
    var(--gradient-blue) 0%,
    var(--gradient-pink) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.projectText {
  max-width: 700px;
  position: relative;
  padding: 30px 0px;
}
.projectText p {
  color: var(--white-color);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.projectText::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 4px;
  background: radial-gradient(
    circle,
    var(--gradient-blue) 0%,
    var(--gradient-pink) 100%
  );
  border-radius: 10px;
  bottom: 10px;
}

.projectBoxesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: start;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  /* transition: all 0.3s ease; */
}

.gitrepo {
  font-size: 1.2rem;
  display: flex;
  margin-top: 40px;
  font-weight: 700;
  color: var(--purple-button-color);
  cursor: pointer;
  padding-bottom: 80px;
}
.gitrepo p {
  transition: all 0.3s ease-in-out;
}
.gitrepo p:hover {
  color: #b97ef3;
  transform: translateY(-10px);
}
@media (max-width: 750px) {
  .projectHeading {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .projectBoxesContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .projectHeading {
    font-size: 2rem;
  }
  .projectText p {
    font-size: 12px;
  }
  .projectsOuterContainer {
    padding: 10px;
  }
}
