.skillOuterContainer {
  padding: 20px 8% 20px;
  background-color: var(--skill-bg);
  backdrop-filter: blur(10px) brightness(1.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillBoxContainer {
  max-width: 1400px;
  width: 100%;
}
.skillHeading {
  font-size: 4rem;
  color: var(--white-color);
  font-weight: 800;
}
.gradText {
  background: #3f5efb;
  background: radial-gradient(
    circle,
    var(--gradient-blue) 0%,
    var(--gradient-pink) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.skillText {
  max-width: 700px;
  position: relative;
  padding: 30px 0px;
}
.skillText p {
  color: var(--white-color);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.skillText::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 4px;
  background: radial-gradient(
    circle,
    var(--gradient-blue) 0%,
    var(--gradient-pink) 100%
  );
  border-radius: 10px;
  bottom: 10px;
}
.boxes {
  display: grid;
  max-width: 1400px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px 0px;
  /* border: 2px solid red; */
  box-sizing: border-box;
  margin: 0 auto;
}
.skillBoxes {
  margin-top: 10px;
  /* width: 100%; */
  padding: 0px 50px;
}
.skillBoxes h3 {
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 900;
  padding: 20px;
  text-align: center;
  position: relative;
}

.skillTextLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 4px;
  background: radial-gradient(
    circle,
    var(--gradient-blue) 0%,
    var(--gradient-pink) 100%
  );
  border-radius: 10px;
  bottom: 10px;
}

.frontEndLine {
  position: absolute;
  bottom: 10px;
  width: 90%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(28, 163, 241, 0.6) 0%,
    rgba(167, 133, 226, 0.3) 50%,
    transparent 100%
  );
  filter: blur(30px);
  z-index: -1;
  pointer-events: none;
}

.backendLine {
  position: absolute;
  bottom: 10px;
  width: 90%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(28, 241, 39, 0.6) 0%,
    rgba(160, 216, 149, 0.3) 50%,
    transparent 100%
  );
  filter: blur(30px);
  z-index: -1;
  pointer-events: none;
}

.stateManagLine {
  position: absolute;
  bottom: 10px;
  width: 90%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(177, 88, 4, 0.6) 0%,
    rgba(216, 179, 111, 0.3) 50%,
    transparent 100%
  );
  filter: blur(30px);
  z-index: -1;
  pointer-events: none;
}

.toolsManagmentLine {
  position: absolute;
  bottom: 10px;
  width: 90%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(35, 97, 212, 0.6) 0%,
    rgba(111, 194, 233, 0.3) 50%,
    transparent 100%
  );
  filter: blur(30px);
  z-index: -1;
  pointer-events: none;
}

.skillCalcs {
  padding: 30px 70px;
  border: 1px solid #7e7e7e;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--calc-box);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 100%;
  color: var(--text-secondary);
  font-weight: 500;
  margin: 60px 0px 60px;
}
.techCalcs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.categoryCalcs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.experienceCalcs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projectsCalcs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.numberText {
  color: var(--purple-button-color);
  font-size: 1.8rem;
  font-weight: 900;
  transition: transform 0.2s ease-in-out;
}
.numberText:hover {
  transform: scale(1.1);
}

@media (max-width: 750px) {
  .skillCalcs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 20px;
  }
  .boxes {
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  }
}
@media (max-width: 650px) {
  .boxes {
    grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
    padding: 10px 0;
  }
  .skillBoxes {
    padding: 0 10px;
  }
}
@media (max-width: 500px) {
    .boxes {
    grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));
    padding: 10px 0;
  }
  .numberText {
    font-size: 16px;
  }

  .skillCalcs {
    font-size: 12px;
  }
  .skillHeading{
    font-size: 2rem;
  }
  .skillText p{
    font-size: 14px;
  }
}
