.testimonialOuterContainer {
  padding: 20px 8% 20px;
  background-color: var(--skill-bg);
  backdrop-filter: blur(10px) brightness(1.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testHeading {
  font-size: 4rem;
  color: var(--white-color);
  font-weight: 800;
}
.testText {
  background: #3f5efb;
  background: radial-gradient(
    circle,
    var(--gradient-blue) 0%,
    var(--gradient-pink) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.testInfo {
  max-width: 700px;
  position: relative;
  padding: 30px 0px;
}
.testInfo p {
  color: var(--white-color);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.testInfo::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 4px;
  background: radial-gradient(
    circle,
    var(--gradient-blue) 0%,
    var(--gradient-pink) 100%
  );
  border-radius: 10px;
  bottom: 10px;
}

/* //calculation css  */
.skillCalcs {
  padding: 40px 100px;
  border: 1px solid #c7c5c5;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--calc-box);
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  width: 100%;
  color: #bfc4ca;
  font-weight: 500;
  margin: 60px 0px 60px;
}
.techCalcs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.categoryCalcs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.experienceCalcs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.projectsCalcs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.numberText {
  color: var(--purple-button-color);
  font-size: 1.8rem;
  font-weight: 900;
  transition: transform 0.2s ease-in-out;
}
.numberText:hover {
  transform: scale(1.1);
}

/* Marquee Container */
.marqueeContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 60px;
}

.gradientLeft {
  pointer-events: none;
  position: absolute;
  inset-y: 0;
  left: 0;
  width: 25%;
  background: linear-gradient(to right, rgb(26, 26, 46), transparent);
  z-index: 10;
}

.gradientRight {
  pointer-events: none;
  position: absolute;
  inset-y: 0;
  right: 0;
  width: 25%;
  background: linear-gradient(to left, rgb(26, 26, 46), transparent);
  z-index: 10;
}

.testimonialsFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}
.testimonialsFooter p {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
}
.testimonialbtn {
  border: 1px solid #bbb;
  padding: 14px 35px;
  border-radius: 13px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  background: linear-gradient(
    90deg,
    hsla(286, 48%, 91%, 1) 0%,
    hsla(340, 65%, 49%, 1) 0%,
    hsla(263, 58%, 45%, 1) 100%
  );
}
.testimonialbtn:hover {
  transform: translateY(-5px);
}
@media (max-width: 750px) {
  .skillCalcs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 20px;
  }
  .testHeading {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .numberText {
    font-size: 16px;
  }
  .skillCalcs {
    font-size: 12px;
  }
  .skillCalcs {
    padding: 10px;
  }
  .testInfo p {
    font-size: 12px;
  }
  .testimonialsFooter p {
    font-size: 14px;
  }
  .testHeading {
    font-size: 26px !important;
  }
}
